<html>
<head>
	<title>Blog</title>
	<link rel="shortcut icon" type="image/x-icon" href="../assets/pencil.png" />
	<link rel="stylesheet" type="text/css" href="../css/bootswatch.css">
	<link rel="stylesheet" type="text/css" href="../css/compose.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<div class="btn-group-vertical" id="floating-nav-menu">
		<a href="#" class="btn btn-primary" role="button">Home</a>
		<a href="#" class="btn btn-success" role="button">Writers</a>
		<a href="#" class="btn btn-warning" role="button">Contact Us</a>		
		<a href="#" class="btn btn-danger" role="button">Compose</a>
	</div>
	<div class="container">	
		<div class="jumbotron">
			<h1>Speak your mind*</h1>
			<br>
			<br>
			<h6>*Zero shits will be given.</h6>
		</div>
		
		<form class="form-horizontal">
		  <fieldset>
			<legend>Compose</legend>
			<div class="form-group">
			  <label for="headline" class="col-lg-2 control-label">Headline</label>
			  <div class="col-lg-10">
				<input type="text" class="form-control" id="headline" placeholder="This one time at bandcamp ...">
			  </div>
			</div>	
			<div class="form-group">
			  <label for="highlight" class="col-lg-2 control-label">Highlight</label>
			  <div class="col-lg-10">
				<input type="text" class="form-control" id="highlight" placeholder="I only threw up twice.">
			  </div>
			</div>
			<div class="form-group">
		      <label for="select" class="col-lg-2 control-label">Author</label>
		      <div class="col-lg-10">
		        <select class="form-control" id="select">
		          <option>Red</option>
		          <option>Saul</option>
		          <option>Dale Denton</option>
		        </select>
		      </div>
		    </div>		
			<div class="form-group">
			  <label for="textArea" class="col-lg-2 control-label">Textarea</label>
			  <div class="col-lg-10">
				<textarea class="form-control" rows="10" id="textArea"></textarea>
			  </div>
			</div>			
			<div class="form-group">
			  <div class="col-lg-10 col-lg-offset-2">				
				<button type="submit" class="btn btn-primary">Submit</button>
			  </div>
			</div>
		  </fieldset>
		</form>
								
	</div>	
</body>
</html>