<html>
<head>
	<title>Blog</title>
	<link rel="shortcut icon" type="image/x-icon" href="../assets/pencil.png" />
	<link rel="stylesheet" type="text/css" href="../css/bootswatch.css">
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
	<div class="btn-group-vertical" id="floating-nav-menu">
	    <a href="#" class="btn btn-primary" role="button">Home</a>
	    <a href="#" class="btn btn-success" role="button">Writers</a>
	    <a href="#" class="btn btn-warning" role="button">Contact Us</a>	   
	</div>
	<div class="container">	
		<div class="jumbotron">
			<h1>Socialize with us</h1>
			<p>Zero shits given either way.</p>
			<p>
				<a class="btn btn-primary btn-lg">Facebook</a>
				<a class="btn btn-primary btn-lg">Twitter</a>
				<a class="btn btn-primary btn-lg">LinkedIn</a>
			</p>
		</div>
			  				  	
	</div>	
</body>
</html>