<html>
<head>
	<title>Blog</title>
	<link rel="shortcut icon" type="image/x-icon" href="../assets/pencil.png" />
	<link rel="stylesheet" type="text/css" href="../css/bootswatch.css">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	<div class="btn-group-vertical" id="floating-nav-menu">
		<a href="#" class="btn btn-primary" role="button">Home</a>
		<a href="#" class="btn btn-success" role="button">Writers</a>
		<a href="#" class="btn btn-warning" role="button">Contact Us</a>		
		<a href="#" class="btn btn-danger" role="button">Compose</a>
	</div>

	<div class="container">

		<div class="jumbotron">
			<h1>"I thought hurricane season was over"</h1>
			<p>A collection of thoughts and other musings</p>
			<p><a class="btn btn-primary btn-lg" role="button">Surprise Me!</a></p>
		</div>

		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="../assets/landscape.png" alt="..." class="post-thumbnail">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <blockquote>
				  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
		        <p>
		        	<a href="#" class="btn btn-primary" role="button">Read</a> 
		        	<a href="#" class="btn btn-default" role="button">Share</a>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>

		<ul class="pagination pagination-lg">
		  <li class="disabled"><a href="#">«</a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">»</a></li>
		</ul>

	</div>	
</body>
</html>