<div class="jumbotron">
	<h1>"I thought hurricane season was over"</h1>
	<p>A collection of thoughts and other musings</p>
	<p><a class="btn btn-primary btn-lg" role="button" ui-sref="surprise">Surprise Me!</a></p>
</div>
<!--  There are three <div class="col-sm-6 col-md-4"> per row. If there are more than three make a new row -->
<div class="row">

  <div class="col-sm-6 col-md-4" ng-repeat="article in articles">
    <div class="thumbnail">
      <img src="img/landscape.png" alt="..." class="post-thumbnail">
      <div class="caption">
        <h3>{{article.title}}</h3>
        <blockquote>
    		  <p>{{article.highlight}}</p>
    		  <small>{{article.author}}</small>
    		</blockquote>
        <p>
        	<!--<a href="#/articles/{{article._id}}" class="btn btn-primary" role="button">Read</a>-->
			    <a href="#/articles/{{article._id}}" class="btn btn-primary" role="button">Read</a>
        	<a href="#" class="btn btn-default" role="button">Share</a>
			    <button class="btn btn-danger" ng-click="delete(article)">Delete</button>
        </p>
      </div>
    </div>
  </div>

</div>

<ul class="pagination pagination-lg">
  <li class="disabled"><a href="#">«</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">»</a></li>
</ul>
